<html lang="en">
    <%- include('./partials/head.ejs')  %> <body>
    <%- include ('./partials/nav.ejs') %> 
<div class="blogs content">
    <br>
    <h2>OOPS THIS PGAE IS NOT FOUND</h2>
</div>
<%- include ('./partials/footer.ejs') %> 
</body>
</html>