<html lang="en">
    <%- include('./partials/head.ejs')  %> <body>

    <%- include ('./partials/nav.ejs') %> 
<div class="blogs content">
    <h2>about</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis unde, provident deserunt iusto atque illo possimus nostrum laborum sequi consequatur!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis unde, provident deserunt iusto atque illo possimus nostrum laborum sequi consequatur!</p>
</div>
<%- include ('./partials/footer.ejs') %> 
</body>
</html>